$color-primary: #ffffff;
$color-secondary: #00aea4;
$color-accent: #f26c48;
$color-background: #f0f0f0;

$color-gray-dark-text: #3b3b3b;
$color-gray-dark-icons: #4f4f4f;
$color-gray-medium: #656565;

$color-orange-light: #ed993f;
